.featureCarousel{
    padding : 1vw;
    margin : 5vw;
}

.w-100{
  height:35vw;
}

.product-feature{
  padding : 1vw;
  margin : 5vw;
}

.particular-product-feature {
  margin : 5vw;
}

.product-feature-image{
  border-radius: 1em;
  box-shadow: 10px 10px 10px lightgray;
  height : 30vw;
}

.product-feature-content{
    max-width:50%;
    padding: 7vw 2.5vw 2.5vw 5vw;
}

.feature-title{
    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0 0 10px;
    margin-bottom: 18px;
    word-break: keep-all;
}

.feature-heading{
    color: #000;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.76px;
    line-height: 44px;
    margin: 0 0 10px;
    word-break: keep-all;
}

.feature-body{
    color: rgba(0, 0, 0, .5);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
    word-break: keep-all
}


.login-footer{
   padding : 2.5vw;
   margin-top : 5vw;
   background: lightgray;
}

.footer-icon > li {
    display:inline-block;
  }

.footer-icon > li > a{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1vw;
  margin: 1vw;
  border-radius: 20px;
  color: white;
}

.footer-content{
  margin-top : 1vw;
}

.footer-body > li{
    display:inline-block;
}

.footer-body > li > a {
    color: white;
    margin: 0.5vw;
    padding: 1vw;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu-p{
    margin-top : 1vw;
}

.footer-menu-p > p {
   font-size : 0.9vw;
   font-family: open sans-serif;
   text-align: center;
}
