<div>
  <section class="featureCarousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/image4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/image7.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/image8.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/image9.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section class="product-feature">
    <div class="row particular-product-feature">
      <div class="col-sm-6 text-center">
        <img class="product-feature-image" src="assets/featureImage.jpg" />
      </div>
      <div class="col-sm-6 product-feature-content">
         <div class="feature-title">Classroom chat</div>
         <div class="feature-heading">Say it better with pictures and videos</div>
         <div class="feature-body">Capture the moment with the Messenger Camera, add a filter or doodle, then send to friends or share to Stories.</div>
      </div>
    </div>

    <div class="row particular-product-feature">
      <div class="col-sm-6 product-feature-content">
          <div class="feature-title">Voice and Video calls</div>
          <div class="feature-heading">Hop on a call or video chat</div>
          <div class="feature-body">Hang out whenever, wherever by getting on call or a group video chat – filters optional :)
              *Calls are free over Wi-Fi but otherwise, standard data charges apply</div>
      </div>
      <div class="col-sm-6 text-center">
        <img class="product-feature-image" src="assets/featureImage2.jpg" />
      </div>
    </div>


    <div class="row particular-product-feature">
      <div class="col-sm-6 text-center">
        <img class="product-feature-image" src="assets/featureImage3.jpg" />
      </div>
      <div class="col-sm-6 product-feature-content">
          <div class="feature-title">School Managment</div>
          <div class="feature-heading">Rally the group</div>
          <div class="feature-body">Make plans to get together with polls, share your location, split the bill and more.</div>
      </div>
    </div>
  </section>


  <section>
    <footer class="login-footer">
      <aside>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-center">
            <ul class="footer-icon">
              <li>
                <a href="" class="social-icon">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="" class="social-icon">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="" class="social-icon">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="" class="social-icon">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </aside>

      <aside class="footer-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <ul class="footer-body">
              <li>
                <a href="">About</a>
              </li>
              <li>
                <a href="">Our story</a>
              </li>
              <li>
                <a href="">Terms & Condition</a>
              </li>
              <li>
                <a href="">Privacy Policy</a>
              </li>
              <li>
                <a href="">Contact-Us</a>
              </li>
              <li>
                <a href="">Feature</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-2">

          </div>
        </div>
      </aside>

      <aside class="footer-menu-p">
        <p>Copyright © by siksha.com All Rights Reserved.</p>
      </aside>
    </footer>
  </section>

</div>