<div class="Nav">
  <nav class="navbar navbar-expand-lg navbar-fixed-top top-nav-collapse">
    <img src="assets/logo.jpeg" class="logo" alt="brandlabel">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" (click)="homePage()">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item" (click)="loginFeaturePage()">
          <a class="nav-link" href="#">Feature</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="!featurePage"> 
  <app-login></app-login>
</div>

<div *ngIf="featurePage">
  <app-feature></app-feature>
</div>