.Nav{
    padding : 1vw 0vw 1vw 0vw;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px){
.navbar.top-nav-collapse {
    padding: 0;
}
}

.nav-link{
    font-family: open sans-serif;
    padding : 0.5vw;
    text-transform: uppercase;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-right : 2vw;
}

.logo {
    height : 4vw;
    margin-left: 3vw;
}