.headingImage{
    height: 40vw;
}


.rightPartHeading{
    padding: 10vw 5vw 0vw 3vw;
}

.rightPartHeading > p {
    color : gray;
}

.leftPartHeading{
    padding-top: 4vw;
}

.userNameInput{
    margin : 1vw 0vw 1vw 0vw;
}
.userNameInput > label {
    font-size: 1.2vw;
    font-family: open sans-serif;
    font-weight: 400;
    color : black;
}

.userNameInput > input {
    padding: 1vw;
    border-radius: 15px;
    border: 1px solid brown;
    margin-top: -2vw;
    width: 20vw;
    height : 2.5vw;
}

.login-footer{
    background-color : lightgray;
}

.userPasswordInput{
    margin : 1vw 0vw 1vw 0vw;
}
.userPasswordInput > label {
  font-size: 1.2vw;
  font-family: open sans-serif;
  font-weight: 400;
  color: black;
}

.userPasswordInput > input {
  padding: 1vw;
  border-radius: 15px;
  margin-top: -2vw;
  width: 20vw;
  height : 2.5vw;
  border:1px solid brown;
}

.loginBtn{
  border : 1px solid black;
  border-radius: 15px;
  margin : 0.5vw;
  border : 1px solid brown;
}
.playStore{
  margin : 1vw;
}

.signUpModal{
  overflow-y: hidden;
  height: 22vw;
  width: 28vw;
  margin-top: 10%;
  margin-left: 32vw;
}

.signUpInput{
  margin: 0.5vw 0vw 0.5vw 3vw;
}

.signUpInput > label{
  font-size: 1.2vw;
  font-family: open italic;
}

.signUpInput > input {
  margin-top: -1vw;
  width: 20vw;
  border: 1px solid brown;
  border-radius: 15px;
  padding: 0.2vw 0.5vw;
  font-size: 1.2vw;
}

.registerBtn{
  margin: 0vw 0vw 0.5vw 3vw;
}

.loginFeature{
  padding : 1vw;
  margin : 5vw;
}

.featureCard{
  width: 15vw;
  height: 20vw;
  box-shadow: black;
  box-shadow: 5px 5px 2.5px lightgrey;
  font-family: open sans-serif;  
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.registerBtn > button {
  border-radius: 10px;
}

.feature-image{
  height : 8vw;
}

.card-title {
  font-size : 1.5vw;
  font-weight :  bold;
}

.card-text{
  font-size: 1.1vw;
}

.login-footer{
    padding : 2.5vw;
    margin-top : 5vw
}

.footer-icon > li {
    display:inline-block;
  }

.footer-icon > li > a{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1vw;
  margin: 1vw;
  border-radius: 20px;
  color: white;
}

.footer-content{
  margin-top : 1vw;
}

.footer-body > li{
    display:inline-block;
}

.footer-body > li > a {
    color: white;
    margin: 0.5vw;
    padding: 1vw;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu-p{
    margin-top : 1vw;
}

.footer-menu-p > p {
   font-size : 0.9vw;
   font-family: open sans-serif;
   text-align: center;
}
