<!--SignUp popup window-->
<div class="modal fade signUpModal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="signUpInput">
        <label>Email Id</label>
        <br/>
        <input [(ngModel)]="signUpEmail" type="email" placeholder="Enter your email-id">
      </div>

      <div class="signUpInput">
        <label>password</label>
        <br/>
        <input [(ngModel)]="signUpPassword" type="password" placeholder="Enter your password">
      </div>

      <div class="signUpInput">
        <label>Confirm password</label>
        <br/>
        <input [(ngModel)]="signUpConfirmPassword" type="password" placeholder="Enter your password">
      </div>

      <div class="registerBtn">
        <button class="btn btn-sm btn-primary" (click)="signUp()">Register</button>
      </div>
    </div>
  </div>
</div>

<!--Home login Page-->
<div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="rightPartHeading">
            <h2> Be together, whenever.</h2>
            <p>A simple way to Text, Video stream and Room rent things all in one place</p>
            <div>
              <div class="userNameInput">
                <label> Enter UserName/Email ID</label>
                <br/>
                <input type="email" [(ngModel)]="loginEmail" placeholder="Enter your credential">
              </div>

              <div class="userPasswordInput">
                <label> Enter your password</label>
                <br/>
                <input type="password" [(ngModel)]="loginPassword" placeholder="Enter your password">
              </div>

              <div>
                <button class="btn loginBtn" (click)="login()">SignIn</button>
                <button class="btn loginBtn" type="button" data-toggle="modal" data-target="#signUpModal">SignUp</button>
              </div>

              <div class="row">
                <img class="playStore" src="assets/google.png">
                <img class="playStore" src="assets/apple.png">
              </div>
              <div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="leftPartHeading">
            <img src="assets/headingImage.jpg" class="headingImage" alt="specification">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="loginFeature">
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3">
        <div class="card featureCard">
          <img class="card-img-top feature-image" src="assets/feature1_2.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3">
        <div class="card featureCard">
          <img class="card-img-top feature-image" src="assets/feature2_3.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3">
        <div class="card featureCard">
          <img class="card-img-top feature-image" src="assets/feature3.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3">
        <div class="card featureCard">
          <img class="card-img-top feature-image" src="assets/feature4.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="login-footer">
    <aside>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <ul class="footer-icon">
            <li>
              <a href="" class="social-icon">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="" class="social-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="" class="social-icon">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="" class="social-icon">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </aside>

    <aside class="footer-content">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <ul class="footer-body">
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Our story</a>
            </li>
            <li>
              <a href="">Terms & Condition</a>
            </li>
            <li>
              <a href="">Privacy Policy</a>
            </li>
            <li>
              <a href="">Contact-Us</a>
            </li>
            <li>
              <a href="">Feature</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </aside>

    <aside class="footer-menu-p">
      <p>Copyright © by siksha.com All Rights Reserved.</p>
    </aside>
  </footer>
</div>